@font-face {
    font-family: 'VolterGoldfish';
    src: url('/fonts/VolterGoldfish.ttf');
}

.label {
    -fx-font-family: 'VolterGoldfish';
}

.root, .header-label, .header-value, .action-button, .table-column-header {
    font-family: 'VolterGoldfish';
}

.header-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.header-value {
    -fx-font-size: 16px;
    -fx-text-fill: #2a9df4;
}

.action-button {
    -fx-background-color: #4caf50;
    -fx-text-fill: white;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.table-column {
    -fx-alignment: CENTER_LEFT;
}

.table-column-header {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
